= stylesheet_link_tag 'style.css'

#footer
  #bottom
    .col3center
      %h1
        Web Resources
      .navlist
        %ul
          %li
            = link_to "Open Designs", "#"
          %li
            = link_to "Open Web Design", "#"
          %li
            = link_to "CSS Drive", "#"
    .col3
      %h1
        Links
      .navlist
        %ul
          %li
            <a href="#">BBC News Frontpage</a>
          %li
            <a href="#">Hartlepool Today</a>
          %li
            <a href="#">SV Horizons Travelblog</a>
    .col3
      %h1
        More Links
      .navlist
        %ul
          %li>
            <a href="#">Dynamic Drive CSS Library</a>
          %li>
            <a href="#">Listamatic</a>
          %li>
            <a href="#">CSS Play</a>

      <a href="#">homepage</a> | <a href="mailto:denise@mitchinson.net">contact</a> | &copy; 2007 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a> | Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a> </div>